<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head %>
    <title>Buckstter</title>
    <style media="screen">
      .carousel.carousel-fade .carousel-item {
          display: block;
          opacity: 0;
          transition: opacity ease-out .7s;
      }

      .carousel.carousel-fade .carousel-item.active {
          opacity: 1 !important;
      }
    </style>
  </head>
  <body>
    <main role="main" class="container">
      <h1>LET’S GO FISHING!</h1>

      <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel"><!--data-interval="2000"-->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../img/bg-1.jpg">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../img/bg-2.jpg">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../img/bg-3.jpg">
          </div>
        </div>
      </div>


    </main>
    <% include ./partials/script %>
    <script type="text/javascript">
      $('#carousel').carousel()
    </script>
  </body>
</html>
